@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}

/*INI 001 - 1ra columna de tabla fija */
/*
.scrolling table {
    table-layout: inherit;
 *margin-left: -100px;
}
.scrolling td, th {
    vertical-align: top;
	padding: 10px;
	min-width: 100px;
}
.scrolling th {
	position: absolute;
 *position: relative; 
	left: 0;
	width: 120px;
}
.outer {
	position: relative
}
.inner {
	overflow-x: auto;
	overflow-y: visible;
	margin-left: 120px;
}
*/
/*FIN 001 */